$mainFont: Helvetica, Arial, sans-serif;
$mainFontSize: 16px;

$lgDesktopWidth: 1920px;
$mdDesktopWidth: 1600px;
$desktopWidth: 1160px;
$smDesktopWidth: 992px;
$tableWidth: 768px;
$phoneWidth: 576px;
$smPhoneWidth: 320px;